{% extends "index.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<center>
    <h1>{% trans "Change Password" %}</h1>

    <form class="login ui form" style="border:2px solid black; width: 500px; margin: 0 auto; padding: 20px; background:#F7F9F9; method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="primaryAction" style="width: 150px; border:none; background-color: green; color:white; "  type="submit" name="action">{% trans "Change Password" %}</button>
        <p></p>
        <a class="btn btn-primar" style="display:block; margin-bottom:20px;" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </center>
{% endblock %}
